<% include ../header.ejs %>

<form action="" method="post" enctype="multipart/form-data">
	<input type="hidden" name="_csrf" value="<%=csrfToken%>" />
	<table class="table table-bordered table-hover">
		<colgroup>
			<col style="width: 100px;"/>
			<col />
		</colgroup>
		<tr>
			<th class="text-center">제목</th>
			<td>
				<input type="text" name="title" class="form-control" value="<%=post.title%>" />
			</td>
		</tr>
		<tr>
			<th class="text-center">내용</th>
			<td>
				<input type="text" name="content" class="form-control" value="<%=post.content%>" />
			</td>
		</tr>
		<tr>
			<th class="text-center">썸네일</th>
			<td>
				<input type="file" name="thumbnail" accept="image/*" onchange="changeFile(event)"/>
				<br>
				<img id="image" src="/uploads/<%=post.thumbnail%>" style="max-width: 100%;<% if (!post.thumbnail) { %>display: none;<% } %>" />
			</td>
		</tr>
	</table>
	
	<button class="btn btn-primary">작성하기</button>
</form>

<script type="text/javascript">
	function changeFile(event) {
		var files = event.target.files;
		if (files.length > 0) {
			var file = files[0];
			var reader = new FileReader();
			reader.onload = function() {
				$('#image').attr('src', reader.result).show();
				reader.closeFile();
			}
			reader.readAsDataURL(file);
		}
	}
</script>

<% include ../footer.ejs %>